<form method="post" enctype="multipart/form-data" name="formUpload">
    <div data-ng-init="ConsultarArquivos()" novalidate="novalidate">
        <h2>Upload de Documentos</h2>
        <h4>Procure os documentos para envio</h4>
        <table class="table table-condensed table-bordered table-striped">
            <thead>
            <th>Tipo Documento</th>
            <th>Arquivo</th>
            <th>Status</th>
            <th>% Evolução</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaDocumentosClienteTipo">
                    <td>{{item.docCliTipoNome}}</td>
                    <td align="left"><input type="file" size="60" id="idFile_{{item.docCliTipoId}}" name="file" /></td>
                    <td><label id="idStatus_{{item.docCliTipoId}}"></label></td>
                    <td>
                        <span id="idProgressbar_{{item.docCliTipoId}}"></span>
                    </td>


                </tr>
            </tbody>
        </table>
        <button ng-click="EnviarArquivos()" class="btn btn-primary" value="Enviar">Enviar</button>
    </div>
</form>