<!--<div data-ng-init="ListarPropostas()" class="row">
    <div id="list" class="row">


            <table class="table table-striped" cellspacing="0" cellpadding="0">
                   <tr>Propostas</tr>
                    <tr data-ng-repeat="item in listaPropostas">
                        <td>{{item.DocCliDadosValor}}</td>
                        <td>{{item.DocCliDadosId}}</td>
                        <td>{{item.ClienteId}}</td>
                    </tr>
            </table>

        </div>

</div>-->

<div class="container">
    <div class="alert alert-info" ng-show="showMensagemListaVazia">
        <strong>Proposta não encontrada</strong>
    </div>

    <div>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td>
                    <h4>Filtrar por Proposta </h4>
                </td>
                <td>
                    <input type="text" ng-model="numeroPropostaPesquisa" name="numeroPropostaPesquisa" class="form-control" maxlength="100" />
                </td>
                <td>
                    <button ng-model="btnEnviarFiltrar" ng-click="ListarPropostas(numeroPropostaPesquisa)" class="btn btn-primary btn-sm" value="Filtrar" title="Pesquisar por proposta">Filtrar</button>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered table-hover" ng-show="showListaProposta">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Situação</th>
                    <th>Arquivo salvo</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="documentos in listaPropostas.documentosCliente">

                    <td>{{documentos.documentoClienteTipo.docCliTipoNome}}</td>
                    <td>
                        <table width="100">
                            <tr data-ng-repeat="situacaoDocumento in documentos.documentoClienteTipo.listaSituacaoDocumentoCliente">
                                <td>{{situacaoDocumento.docCliSituDescricao}}</td>
                            </tr>
                        </table>
                    </td>
                    <td><a href="#">{{documentos.nomeArquivoSalvoAux}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-md-2">
        &nbsp;
    </div>
</div>


