<div data-ng-init="ListarPropostas()" class="row">
    <div class="col-md-6">
        <div class="box box-info">
            @*<div class="box-header">
                <h3 class="box-title">Loteamentos para consulta:</h3>
            </div>*@
            <div class="box-body">
                <label>Loteamento:</label>
                <select class="form-control select2" style="width: 70%;">
                    <option selected="selected">Residencial Sol Nascente</option>
                    <option>Residencial Arauto</option>
                    <option>Residencial Bela Vista</option>
                </select>

                <label>Quadra:</label>
                <select class="form-control select2" style="width: 50%;">
                    <option selected="selected">Quadra A</option>
                    <option>Quadra B</option>
                    <option>Quadra C</option>
                </select>

                <label>Situação do Lote:</label>
                <select class="form-control select2" style="width: 50%;">
                    <option selected="selected">Disponível</option>
                    <option>Reservado</option>
                    <option>Vendido</option>
                </select>

                <div class="bootstrap-timepicker" style="width: 20%;">
                    <div class="form-group">
                        <label>Valor:</label>
                        <input type="number" class="form-control my-colorpicker1">
                    </div>
                </div>

                <table align="center">
                    <tr>
                        <td>
                            <button type="button" onclick="javascript:direcionarPaginaEquipe()" class="btn btn-block btn-primary">Consultar</button>
                        </td>
                    </tr>
                </table>


                <div class="box-body" style="height:300px; overflow-y:scroll;">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Quadra</th>
                                <th>Lote</th>
                                <th>Situação</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="@Url.Action(" ConcessionariaAlteracao", "Forms" )">Quadra A</a></td>
                                <td><a href="@Url.Action(" ContratoAlteracao", "Forms" )">Lote E</a></td>
                                <TD><label style="color:green">Disponível</label></TD>
                                <TD>30.000,00</TD>

                            </tr>
                            <tr>
                                <td><a href="@Url.Action(" ConcessionariaAlteracao", "Forms" )">Quadra B</a></td>
                                <td><a href="@Url.Action(" ContratoAlteracao", "Forms" )">Lote A</a></td>
                                <TD><label style="color:sandybrown">Reservado</label></TD>
                                <TD>50.000,00</TD>
                            </tr>
                            <tr>
                                <td><a href="@Url.Action(" ConcessionariaAlteracao", "Forms" )">Quadra C</a></td>
                                <td><a href="@Url.Action(" ContratoAlteracao", "Forms" )">Lote C</a></td>
                                <TD><label style="color:red">Vendido</label></TD>
                                <TD>70.000,00</TD>
                            </tr>
                            <tr>
                                <td><a href="@Url.Action(" ConcessionariaAlteracao", "Forms" )">Quadra A</a></td>
                                <td><a href="@Url.Action(" ContratoAlteracao", "Forms" )">Lote E</a></td>
                                <TD><label style="color:green">Disponível</label></TD>
                                <TD>30.000,00</TD>

                            </tr>
                            <tr>
                                <td><a href="@Url.Action(" ConcessionariaAlteracao", "Forms" )">Quadra B</a></td>
                                <td><a href="@Url.Action(" ContratoAlteracao", "Forms" )">Lote A</a></td>
                                <TD><label style="color:sandybrown">Reservado</label></TD>
                                <TD>50.000,00</TD>
                            </tr>
                            <tr>
                                <td><a href="@Url.Action(" ConcessionariaAlteracao", "Forms" )">Quadra C</a></td>
                                <td><a href="@Url.Action(" ContratoAlteracao", "Forms" )">Lote C</a></td>
                                <TD><label style="color:red">Vendido</label></TD>
                                <TD>70.000,00</TD>
                            </tr>
                            <tr>
                                <td><a href="@Url.Action(" ConcessionariaAlteracao", "Forms" )">Quadra C</a></td>
                                <td><a href="@Url.Action(" ContratoAlteracao", "Forms" )">Lote C</a></td>
                                <TD><label style="color:red">Vendido</label></TD>
                                <TD>58.000,00</TD>
                            </tr>
                            <tr>
                                <td><a href="@Url.Action(" ConcessionariaAlteracao", "Forms" )">Quadra C</a></td>
                                <td><a href="@Url.Action(" ContratoAlteracao", "Forms" )">Lote C</a></td>
                                <TD><label style="color:red">Vendido</label></TD>
                                <TD>56.250,00</TD>
                            </tr>
                    </table>
                </div>
                <div style="padding-top:40px">
                    <table align="center">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-block btn-primary">Exportar relatório excel</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
