
<form role="form" name="usuarioform" data-ng-init="ConsultarUsuario('','','','','','','','')">
    <div class="box-dashed">
        <div class="form-inline margin-bottom">
            <label for="search">Filtrar usuários:</label>
            <input type="search" name="search" ng-model="search" class="form-control input-sm" maxlength="100" title="Digite algum valor para filtrar a lista de usuários" />

        </div>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr class="cursor-pointer">
                <th class="col-md-1" ng-click="sort('usuarioLogin')">Usuário</th>
                <th class="col-md-3" ng-click="sort('usuarioNome')">Nome</th>
                <th class="col-md-1" ng-click="sort('usuarioAtivoDescricao')">Status</th>
                <th class="col-md-3" ng-click="sort('usuarioEmail')">Email</th>
                <th class="col-md-3" ng-click="sort('usuarioPerfil.usuPerfilNome')">Perfil</th>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="usuario in listaUsuarios|orderBy:'usuarioLogin':reverse|customFilter:search:'usuarioLogin|usuarioNome|usuarioEmail|usuarioPerfil.usuPerfilNome'|itemsPerPage:7">
                <td>{{usuario.usuarioLogin}}</td>
                <td>{{usuario.usuarioNome}}</td>
                <td>{{usuario.usuarioAtivoDescricao}}</td>
                <td>{{usuario.usuarioEmail}}</td>
                <td>{{usuario.usuarioPerfil.usuPerfilNome}}</td>
                <td class="text-center">
                    <button ng-model="btnAlterar" ng-click="AbrirTelaAlteracao(usuario)" class="btn btn-primary btn-xs" value="Alterar" title="Alterar Usuário">
                        Alterar
                    </button>
                </td>
                <td ng-if="usuario.usuarioAtivo == false" class="text-center">
                    <button ng-model="btnAtivar" ng-click="AtivarUsuario(usuario)" class="btn btn-primary btn-xs btn-green" value="Ativar" title="Efetuar ativação do Usuário">Ativar</button>
                </td>
                <td ng-if="usuario.usuarioAtivo == true" class="text-center">
                    <button ng-model="btnInativar" ng-click="InativarUsuario(usuario)" class="btn btn-primary btn-xs" value="Inativar" title="Efetuar inativação do Usuário">Inativar</button>
                </td>
            </tr>
        </tbody>

    </table>
    <dir-pagination-controls max-size="7"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>


    
    </form>





