<div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    <!--<br />
    <a href="#/fileUpload">fileUpload.html</a>
    <a href="#/fileUploadTeste">fileUploadTeste.html</a>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Autenticação</h3>
        </div>
        <div class="panel-body">
            <!--<form method="post" role="form" data-ng-submit="EfetuarLogin()">-->
            <form role="form">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user" style="width: auto"></i>
                        </span>

                        <input type="text" class="form-control" placeholder="Usuário" data-val-required="Informe seu nome se usuário." data-ng-model="loginData.userName" required autofocus>
                        <!--<input class="form-control" data-val="true" data-val-required="The Email field is not a valid e-mail address." id="Username" name="Username" placeholder="Username" type="text" value="" />-->
                        <!--<span class="field-validation-valid text-danger" data-valmsg-for="userLoginEmail" data-valmsg-replace="true"></span>-->
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                        </span>

                        <!--<input class="form-control" data-val="true" data-val-required="The Password field is required." id="userLoginPassword" name="userLoginPassword" placeholder="userLoginPassword" type="password" />-->
                        <input type="password" class="form-control" placeholder="Senha" data-val-required="Informe sua senha." data-ng-model="loginData.password" required>
                        <!--<span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>-->
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <input data-val="true" id="RememberMe" name="RememberMe" type="checkbox" value="true" />
                        <input name="RememberMe" type="hidden" value="false" />
                        <label for="RememberMe">Lembrar-se de mim?</label>
                    </div>
                </div>

                <!--<div ng-view></div>-->
                <!--<button id="btnLogin" runat="server" class="btn btn-default" style="width: 100%" type="submit">
                    ENTRAR<i class="glyphicon glyphicon-log-in"></i>
                </button>-->

                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()"  >Entrar</button>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
                <!--<a href="#/FileUpload">FileUpload</a>
                <a href="#/FileUpload">FileUpload</a>
                <a href="#/Documento">Documento</a>-->
            </form>
        </div>
    </div>
</div>
<div style="display:none;">
    <script src="/plugins/jquery/js/jquery-3.1.0.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/slimscroll/js/jquery.slimscroll.min.js"></script>
    <script src="/plugins/angular/angular.js"></script>
    <script src="/plugins/angular/angular-route.js"></script>
    <script src="/plugins/angular/progress.js"></script>
    <script src="/plugins/dist/js/app.js"></script>
    <!--<script src="/Scripts/app.js"></script>
    <script src="/Scripts/Service/LoginService.js"></script>
    <script src="/Scripts/Controllers/LoginController.js"></script>-->
</div>
