
<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-6">
        <p data-ng-hide="authentication.useRefreshTokens">Usuário <strong>{{authentication.userName}}</strong> foi desativado para <strong>Atualização de Tokens</strong> para o usuário logado, você não pode mais atualizar tokens.</p>
        <div data-ng-show="authentication.useRefreshTokens">
            <p class="text-success">Use esta tela para obter um novo token utilizando a Atualização de token.</p>
            <p>Usuário <strong>{{authentication.userName}}</strong> esta habilitado para <strong>Atualizar Tokens</strong> após logado, para atualizar o seu acesso atual, clique no botão a seguir.</p>
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="refreshToken()" data-ng-disabled="!authentication.userName && !authentication.useRefreshTokens">Atualização de Token</button>
        </div>
        <div data-ng-show="authentication.useRefreshTokens" style="margin-top:10px;">
            <div class="panel panel-success" data-ng-show="tokenRefreshed">
                <div class="panel-heading">
                    <h3 class="panel-title">Token atualizado com sucesso</h3>
                </div>
                <div class="panel-body">
                    <p>Access_token: {{tokenResponse.access_token | limitTo : 30}}....</p>
                    <p><a href="#/propostas">Clique aqui para viauzliar as propostas</a></p>
                </div>
            </div>
           
        </div>

    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
</div>