<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>

    <title>BSI - Gestão de documentos para grafometria</title>

    <meta name="keywords" content="angularjs,SPA,Single Page Application,refresh tokens,authentication,bearer token authentication,OWIN,bootstrap,bootstrap ui,tutorial,JS framework,ASP.NET WEB API 2,Taiseer Joudeh" />
    <meta name="description" content="SPA built using angularjs,authentication is done using bearer token,back end built using Asp.net web api 2 and OWIN Framework,creatd by Taiseer Joudeh" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--** css de componentes **-->
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/loading-bar.min.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/blockUI/angular-block-ui.min.css" rel="stylesheet" />
    
    <!--** scripts js de componentes e customizados **-->
    <!--<script src="scripts/jquery/js/jquery-3.1.0.js"></script>-->
    
    <!--** css proprio do site e customizados **-->
    <link href="content/css/site.css" rel="stylesheet" />
    
</head>
<body>

    <!--<div class="modal fade bs-example-modal-sm" id="loading" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <i class="fa fa-circle-o-notch fa-spin" style="color:darkred" ></i>
                    Processando, aguarde...
                </div>
            </div>
        </div>
    </div>

    <input type="button" value="testefasd" onclick="javascript: $('#loading').modal('show');" />-->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Inicial</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">Bem vindo {{authentication.userName}}</a></li>
                    <!--<li data-ng-hide="!authentication.isAuth"><a href="#/orders">My Orders</a></li>-->
                    <li data-ng-hide="!authentication.isAuth"><a href="#/refresh">Reativar Token</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Sair</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Entrar</a></li>
                    <!--<li data-ng-hide="authentication.isAuth"> <a href="#/signup">Cadastrar-se</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>Grafometria</h1>
            </div>
            <p class="text-center">Interface administrativa de gerenciamento de documentos para assinatura grafométrica.</p>
        </div>
    </div>

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>

    <hr />

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h6>Gestão de documentos para grafometria.</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="text-right">Direitos reservados © <a target="_blank" href="http://www.bsitecnologia.com.br">BSI Tecnologia 2016</a></h6>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/angular/angular-route.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="scripts/ng-file-upload/ng-file-upload.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>

    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/ordersService.js?v=2"></script>
    <script src="app/services/tokensManagerService.js?v=2"></script>
    <script src="app/services/fileUploadService.js?v=2"></script>
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/ordersController.js?v=2"></script>
    <script src="app/controllers/refreshController.js?v=2"></script>
    <script src="app/controllers/tokensManagerController.js?v=2"></script>
    <script src="app/controllers/associateController.js"></script>
    <script src="app/controllers/fileUploadController.js"></script>
    <script src="app/controllers/fileUploadTesteController.js"></script>

    <!--** scripts de componentes e afins que devem ser declarados após o angular.js **-->
    <script src="scripts/angular/blockUI/angular-block-ui.min.js"></script>

</body>
</html>
