<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>

    <title>BSI - Gestão de documentos para grafometria</title>

    <meta name="keywords" content="angularjs,SPA,Single Page Application,refresh tokens,authentication,bearer token authentication,OWIN,bootstrap,bootstrap ui,tutorial,JS framework,ASP.NET WEB API 2,Taiseer Joudeh" />
    <meta name="description" content="SPA built using angularjs,authentication is done using bearer token,back end built using Asp.net web api 2 and OWIN Framework,creatd by Taiseer Joudeh" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--** css de componentes **-->
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/loading-bar.min.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <!--<link href="content/css/blockUI/angular-block-ui.min.css" rel="stylesheet" />-->
    
    <!--** scripts js de componentes e customizados **-->
    <!--<script src="scripts/jquery/js/jquery-3.1.0.js"></script>-->
    
    <!--** css proprio do site e customizados **-->
    <link href="content/css/site.css" rel="stylesheet" />

</head>
<body>

    <!--CABEÇALHO-->
    <div class="navbar navbar-fixed-top navbar-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <img src="content/img/bsi_logo_sm.png" class="img-fluid" alt="BSI Tecnologia">
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a>Bem vindo {{authentication.nomeUsuario}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/fileUpload">Upload Documentos</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/listaPropostas">Lista Contratos</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/consultarUsuario">Lista Usuários</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/cadastrarUsuario">Cadastrar Usuário</a></li>
                    <!--<li data-ng-hide="!authentication.isAuth"><a href="#/tokens">Tokens</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/refresh">Reativar Token</a></li>-->
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--Titulo da pagina de login-->
    <div data-ng-controller="indexController" data-ng-hide="authentication.isAuth" class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>Grafometria</h1>
            </div>
            <p class="text-center">Interface administrativa de gerenciamento de documentos para assinatura grafométrica.</p>
        </div>
    </div>


    <!--MIOLO-->
    <!--<div data-ng-hide="!authentication.isAuth" class="container">-->
    <div class="container">
        <titulos></titulos>

        <div ng-show="exibirMensagem">
            <div ng-class="m.tipoMensagem" role="alert" ng-repeat="m in mensagens">
                <strong class="alert-title">{{m.titulo}}</strong>
                <label class="center-block no-margin" ng-bind="t" ng-repeat="t in m.mensagem"></label>
            </div>
        </div>

        <div data-ng-view="">
        </div>
    </div>

    <!--RODAPÉ-->
    <div class="navbar navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h6>Gestão de documentos para grafometria.</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="text-right">Direitos reservados © <a target="_blank" href="http://www.bsitecnologia.com.br">BSI Tecnologia 2016</a></h6>
                </div>
            </div>
        </div>
    </div>

    <!-- Angular -->
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/angular/angular-route.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <!-- Loading -->
    <script src="scripts/loading-bar.min.js"></script>
    <!-- Upload -->
    <script src="scripts/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="scripts/ng-file-upload/ng-file-upload.js"></script>

    <!-- Load app main script -->
    <script src="app/app.js"></script>

    <!-- Serviços -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/tokensManagerService.js?v=2"></script>
    <script src="app/services/fileUploadService.js?v=2"></script>
    <script src="app/services/listaPropostasService.js"></script>
    <script src="app/services/utilService.js"></script>
    <script src="app/services/usuarioService.js"></script>

    <!-- Controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/refreshController.js?v=2"></script>
    <script src="app/controllers/tokensManagerController.js?v=2"></script>
    <script src="app/controllers/fileUploadController.js?v=2"></script>
    <script src="app/controllers/listaPropostasController.js?v=2"></script>
    <script src="app/controllers/usuarioController.js"></script>

    <!--plugin para download de arquivo-->
    <script src="scripts/fileSaver.js"></script>
    <!--** scripts de componentes e afins que devem ser declarados após o angular.js **-->
    <script src="scripts/angular/blockUI/angular-block-ui.min.js"></script>

</body>
</html>
