
<div class="modal-header">
    <h3 class="modal-title">Detalhes da Proposta: {{custom}}</h3>
</div>
<ng-include src="'app/views/modal/divMessageError.html'" />
<table class="table table-nomargin">
    <thead>
        <tr>
            <th class="col-md-3">Tipo Documento</th>
            <th class="" style="width:200px">Situação</th>
            <th>Download</th>

        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="tipo in items">
            <td class="col-md-3"><h5><b>{{tipo.docCliTipoNome}}</b></h5></td>
            <td colspan="2">
                <table class="table table-condensed table-hover borderless table-nomargin">
                    <tr data-ng-repeat="situacaoDocumento in tipo.listaSituacaoDocumentoCliente">
                        <td class="" style="width:200px">{{situacaoDocumento.docCliSituDescricao}}</td>
                        <td>
                            <a class="cursor-pointer" ng-click="RetornarArquivo(situacaoDocumento.documentoCliente.cryptoDocClienteId, situacaoDocumento.documentoCliente.docClienteNomeArquivoOriginal)">
                                {{situacaoDocumento.documentoCliente.docClienteNomeArquivoOriginal}}
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </tbody>
</table>
<div class="modal-footer">
    <button ng-model="btnFechar" ng-click="cancel()" class="btn btn-primary btn-sm" value="Fechar" title="Fechar">
        Fechar
    </button>
</div>
