<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>

    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/loading-bar.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Angular -->
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/angular/angular-route.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <!-- Loading -->
    <script src="scripts/loading-bar.min.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>




</head>
<body>
    <table class="table table-nomargin">
        <p ng-bind-html="html"></p>
    </table>
    <div class="modal-footer">
        <button ng-model="btnFechar" ng-click="cancel()" class="btn btn-primary btn-sm" value="Fechar" title="Fechar">
            Fechar
        </button>
    </div>
</body>
</html>