<div ng-controller="FileUploadCtrl">
    <form enctype="multipart/form-data" data-ng-init="ConsultarArquivos()" data-ng-submit="EnviarArquivos()">
        <h2>Upload de Documentos</h2>
        <h4>Procure os documentos para envio</h4>
        <table class="table table-condensed table-bordered table-striped">
            <thead>
            <th>Tipo Documento</th>
            <th>Arquivo</th>
            <th></th>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in listaDocumentosClienteTipo">
                    <td>{{item.DocCliTipoNome}}</td>
                    <td align="left"><input type="file" name="arquivo" id="arquivo" /></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Enviar" />
    </form>
</div>

