/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
/* Margin bottom by footer height */
margin-bottom: 60px;
padding-top: 70px;
padding-bottom: 70px;
background-image:url(http://s3.online24.pt/foto/como-criar-uma-assinatura-digital-73_bg.jpg);
background-repeat:no-repeat;
background-position:bottom right;
}

.borderless, .borderless td, .borderless th, .borderless tr {
    border: none !important;
}

.vAlignMiddle, .vAlignMiddle th, .vAlignMiddle td {
    vertical-align:middle !important;
}
.vAlignTop {
    vertical-align:top !important;
}
.vAlignBottom {
    vertical-align:bottom !important;
}

.width-full{
    width:100%;
}

/* Classe genérica para adicionar um gradiente branco de altura de 25px e 20% de opacidade em elementos html */
.gradient {
    /* IE9, iOS 3.2+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(255, 255, 255, 0.2)),color-stop(0.01, rgba(255, 255, 255, 0)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) 24px,rgba(255, 255, 255, 0) 25px);
    /* IE10+ */
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) 24px,rgba(255, 255, 255, 0) 25px);
    background-image: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) 24px,rgba(255, 255, 255, 0) 25px);
}
 

/*-------------------------------------*/
/* LOADING MODAL (waiting)------------ */

.modal-backdrop {
    background-color: #fff;
}

/*-------------------------------------*/
/* Rodapé ---------------------------- */

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 330px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

.form-login .form-control:focus {
    z-index: 2;
}

    .form-login input[type="password"] {
        margin-top: 5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

/*-------------------------------------*/
/* Customizações do Bootstrap -------- */

.form-control:focus{
    border-color:#888;
}

.btn {
    background-color: #ffc8c8 !important;
    border-color: #ccc !important;
    transition: all 0.1s ease 0s;
    color:#111;
    font-weight:bold;
    border-radius: 2px;
    
    /* IE9, iOS 3.2+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(255, 255, 255, 0.2)),color-stop(0.01, rgba(255, 255, 255, 0)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) 8px,rgba(255, 255, 255, 0) 18px);
    /* IE10+ */
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) 8px,rgba(255, 255, 255, 0) 18px);
    background-image: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) 8px,rgba(255, 255, 255, 0) 18px);
}

.btn-green {
    background-color:palegreen !important;
}

.btn-blue {
    background-color:lightsteelblue !important;
}

.btn-yellow {
    background-color:#fda !important;
}

.btn:hover, .btn:focus, .btn:active{
    background-color: #111 !important;
    border-color: #eee !important;
    color:#fff;
}

a {
    color: #c60b0b;
}
a:hover, a:focus{
    color:#000;
    transition: all 0.1s ease 0s;
}
.jumbotron {
    background-color:transparent;
}

.navbar {
    background-color:white;
    border-bottom:solid 1px #ffc8c8 !important;
}

.navbar a:hover, .navbar a:active, .navbar a:focus {
    transition: all 0.1s ease 0s;
}

#loading-bar {
  pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: wait;
  position: fixed;
  background-color: rgba(200, 200, 200, 0.3);
  background-image:url(../img/wheel.gif);
  background-position:center center;
  background-repeat:no-repeat;
}

.alert{
    border-radius: 2px;
    /*border:solid 1px #888;*/

    /* IE9, iOS 3.2+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(255, 255, 255, 0.15)),color-stop(0.01, rgba(255, 255, 255, 0)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.15) 24px,rgba(255, 255, 255, 0) 25px);
    /* IE10+ */
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.15) 24px,rgba(255, 255, 255, 0) 25px);
    background-image: -ms-linear-gradient(top,rgba(255, 255, 255, 0.15) 24px,rgba(255, 255, 255, 0) 25px);
}
.alert .alert-title{
    margin-right:10px;
}

.alert-error{
    color:red;
}

.cursor-pointer{
    cursor:pointer;
}

.form-group .label-required:after { 
   content:"*";
   color:red;
}

.margin-bottom {
    margin-bottom:10px !important;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size:14px;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
}

ul.pagination li.active *{
    background-color:transparent !important;
}

ul.pagination li:hover a, ul.pagination li:focus a {
    background-color:#ffc8c8;
    color:#111;
}

ul.pagination li.active a {
    background-color: darkred !important;
    color: white;
}